{% include "header.html" %}


<div class="flex justify-center items-center w-full md:mt-20">
    <div class="border border-gray-300 dark:border-gray-500 rounded-xl p-10">
        <form action="{% url 'addnewadmin'  %}" method="post">
            {% csrf_token %}
            <div class="md:grid md:grid-cols-3 px-1 items-center">
                <label for="fname" class="block mb-3 pt-3 text-lg font-medium text-gray-900 dark:text-white">
                    First Name :
                </label>
                <input type="text" name="fname" class="bg-gray-50 border border-gray-300 
                                                text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 
                                                focus:border-cyan-600 block w-auto md:w-auto p-2.5 
                                                dark:bg-gray-700 dark:border-gray-300 
                                                dark:placeholder-gray-400 dark:text-white 
                                                dark:focus:ring-cyan-500 dark:focus:border-cyan-500 
                                                md:mr-4 col-span-2" placeholder="Your Name" required>
            </div>
            <div class="md:grid md:grid-cols-3 px-1 mt-1 items-center">
                <label for="lname" class="block mb-3 pt-3 text-lg font-medium text-gray-900 dark:text-white">
                    Last Name :
                </label>
                <input type="text" name="lname" class="bg-gray-50 border border-gray-300 
                                                text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 
                                                focus:border-cyan-600 block w-auto md:w-auto p-2.5 
                                                dark:bg-gray-700 dark:border-gray-300 
                                                dark:placeholder-gray-400 dark:text-white 
                                                dark:focus:ring-cyan-500 dark:focus:border-cyan-500 
                                                md:mr-4 col-span-2" placeholder="Your Surname" required>
            </div>
            <div class="md:grid md:grid-cols-3 px-1 mt-1 items-center">
                <label for="mnum" class="block mb-3 mr-3 pt-3 text-lg font-medium text-gray-900 dark:text-white">
                    Mobile Number :
                </label>
                <input type="text" name="mnum" class="bg-gray-50 border border-gray-300 
                                                text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 
                                                focus:border-cyan-600 block w-auto md:w-auto p-2.5 
                                                dark:bg-gray-700 dark:border-gray-300 
                                                dark:placeholder-gray-400 dark:text-white 
                                                dark:focus:ring-cyan-500 dark:focus:border-cyan-500 
                                                md:mr-4 col-span-2" placeholder="9876543210"
                                                pattern="[789][0-9]{9}" required>
            </div>
            <div class="md:grid md:grid-cols-3 px-1 mt-1 items-center">
                <label for="email" class="block mb-3 pt-3 text-lg font-medium text-gray-900 dark:text-white">
                    Email Id :
                </label>
                <input type="text" name="email" class="bg-gray-50 border border-gray-300 
                                                text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 
                                                focus:border-cyan-600 block w-auto md:w-auto p-2.5 
                                                dark:bg-gray-700 dark:border-gray-300 
                                                dark:placeholder-gray-400 dark:text-white 
                                                dark:focus:ring-cyan-500 dark:focus:border-cyan-500 
                                                md:mr-4 col-span-2" placeholder="abc@xyz.com"
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            </div>
            <div class="md:grid md:grid-cols-3 px-1 mt-1 items-center">
                <label for="psw" class="block mb-3 pt-3 text-lg font-medium text-gray-900 dark:text-white">
                    Password :
                </label>
                <input type="password" name="psw" class="bg-gray-50 border border-gray-300 
                                                text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 
                                                focus:border-cyan-600 block w-auto md:w-auto p-2.5 
                                                dark:bg-gray-700 dark:border-gray-300 
                                                dark:placeholder-gray-400 dark:text-white 
                                                dark:focus:ring-cyan-500 dark:focus:border-cyan-500 
                                                md:mr-4 col-span-2" placeholder="••••••••" id="npsw" required>
            </div>
            <div class="md:grid md:grid-cols-3 px-1 mt-1 items-center">
                <label for="cnfpsw" class="block mb-3 mr-10 pt-3 text-lg font-medium text-gray-900 dark:text-white">
                    Confirm Password :
                </label>
                <input type="password" name="cnfpsw" class="bg-gray-50 border border-gray-300 
                                                            text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 
                                                            focus:border-cyan-600 block w-auto md:w-auto p-2.5 
                                                            dark:bg-gray-700 dark:border-gray-300 
                                                            dark:placeholder-gray-400 dark:text-white 
                                                            dark:focus:ring-cyan-500 dark:focus:border-cyan-500 
                                                            md:mr-4 col-span-2" placeholder="••••••••" id="cnfpsw" required>
            </div>
            <div class="md:grid md:grid-cols-3 px-1 mt-1 items-center">
                <div class="col-span-3 text-right pt-5 md:-my-3">
                    <button type="submit" class="text-white
                                        bg-cyan-600 hover:bg-cyan-800 
                                        focus:ring-4 focus:outline-none 
                                        focus:ring-cyan-200 font-medium 
                                        rounded-lg text-sm w-full  sm:w-auto 
                                        px-5 py-2.5 text-center dark:bg-cyan-600 
                                        dark:hover:bg-cyan-700 
                                        dark:focus:ring-cyan-200">ADD ADMIN</button>
                </div>
            </div>
        </form>
    </div>
</div>



{% include "footer.html" %}