{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.ico' %}">
    <title>LRS_AAU</title>
    {% if messages %}
    {% for i in messages %}
    <script>
        $(document).ready(function () {
            toastr.options = {
                'closeButton': false,
                'debug': false,
                'newestOnTop': false,
                'progressBar': false,
                'positionClass': 'toast-bottom-right',
                'preventDuplicates': false,
                'showDuration': '1000',
                'hideDuration': '1000',
                'timeOut': '3000',
                'extendedTimeOut': '1000',
                'showEasing': 'swing',
                'hideEasing': 'linear',
                'showMethod': 'fadeIn',
                'hideMethod': 'fadeOut',
            }
        });
        function successtoast() {
            toastr.options.closeButton = true,
            toastr.options.progressBar = true,
            toastr.options.positionClass = 'toast-bottom-right',
            toastr.success('{{i}}');
        }
        function errortoast() {
            toastr.options.closeButton = true,
            toastr.options.progressBar = true,
            toastr.options.positionClass = 'toast-bottom-right',
            toastr.error('{{i}}');
        }
    </script>
    {% endfor %}
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Toastr -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'success' %}
<body onload="successtoast()">
{% elif i.tags == 'error' %}
<body onload="errortoast()">
{% else %}
<body>
{% endif %}
{% endfor %}
{% endif %}


            <div id="preloder">

            </div>
            <script>
                var loder = document.getElementById('preloder');

                window.addEventListener("load", function () {
                    loder.style.display = 'none';
                    // toastr.success('You clicked Success toast');
                });
            </script>

            <header class='fixed top-0 left-0 w-full z-50 md:shadow-md md:dark:shadow-gray-800 md:dark:shadow-md'>
                <nav class="bg-gray-100
                border-gray-200 
                px-2 
                sm:px-4 
                py-2.5 
                rounded 
                dark:bg-gray-900">
                    <div class="container 
                    flex 
                    flex-wrap 
                    justify-between 
                    items-center 
                    mx-auto">
                        {% if admin != 'Null' %}
                        <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex 
                                                                                items-center 
                                                                                p-2 text-sm 
                                                                                text-gray-500 
                                                                                rounded-lg md:hidden 
                                                                                hover:bg-gray-100 
                                                                                focus:outline-none 
                                                                                focus:ring-2 
                                                                                focus:ring-gray-200 
                                                                                dark:text-gray-400 
                                                                                dark:hover:bg-gray-700 
                                                                                dark:focus:ring-gray-600
                                                                                mobile-menu-button"
                            aria-controls="navbar-cta" aria-expanded="false" onclick="closeuser()">
                            <span class="sr-only">Open main menu</span>
                            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                        {% endif %}
                        <a href="../" class="flex items-center">
                            <img src="/static/Images/logo.png" class='p-2 w-14 h-14' alt="LRS_AAU Logo">
                            <span class="self-center 
                            text-xl
                            md:text-2xl
                            font-extrabold
                            font-sans
                            whitespace-nowrap 
                            dark:text-white">LRS-AAU</span>
                        </a>
                        <div class="flex md:order-1 justify-between items-center">
                            {% if admin != 'Null' %}
                            <ul class="hidden
                        md:flex 
                        p-4 mt-4
                        mr-4
                        bg-gray-100 
                        rounded-lg 
                        border 
                        border-gray-100 
                        md:flex-row 
                        md:space-x-7
                        md:mt-0 
                        md:text-sm 
                        md:font-medium 
                        md:border-0 
                        md:bg-gray-100 
                        dark:bg-gray-800 
                        md:dark:bg-gray-900 
                        dark:border-gray-700">
                                <li>
                                    <a href="../" class="block 
                                        text-xl 
                                        py-2 
                                        pr-4 
                                        pl-4 
                                        text-gray-700 
                                        rounded 
                                        hover:bg-gray-100
                                        md:hover:bg-transparent 
                                        md:hover:text-cyan-700 
                                        md:p-0 
                                        md:dark:hover:text-white 
                                        dark:text-gray-400 
                                        dark:hover:bg-gray-700 
                                        dark:hover:text-white 
                                        md:dark:hover:bg-transparent 
                                        dark:border-gray-700" aria-current="page">Home</a>
                                </li>
                                <li>
                                    <a href="../manage_ingredients/" class="block 
                                        text-xl 
                                        py-2 
                                        pr-4 
                                        pl-4 
                                        text-gray-700 
                                        rounded 
                                        hover:bg-gray-100 
                                        md:hover:bg-transparent 
                                        md:hover:text-cyan-700 
                                        md:p-0 
                                        md:dark:hover:text-white 
                                        dark:text-gray-400 
                                        dark:hover:bg-gray-700 
                                        dark:hover:text-white 
                                        md:dark:hover:bg-transparent 
                                        dark:border-gray-700">Manage Ingredients</a>
                                </li>
                                <li>
                                    <a href="../manage_feed/" class="block 
                                        text-xl 
                                        py-2 
                                        pr-4 
                                        pl-4 
                                        text-gray-700 
                                        rounded 
                                        hover:bg-gray-100 
                                        md:hover:bg-transparent 
                                        md:hover:text-cyan-700 
                                        md:p-0 
                                        md:dark:hover:text-white 
                                        dark:text-gray-400 
                                        dark:hover:bg-gray-700 
                                        dark:hover:text-white 
                                        md:dark:hover:bg-transparent 
                                        dark:border-gray-700">Manage Feed</a>
                                </li>
                            </ul>
                            {% endif %}
                            <!-- <button type="button"
                        class="text-gray-500 dark:text-gray-400 hover:bg-white dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center mx-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            aria-hidden="true" class="w-5 h-5">
                            <path fill-rule="evenodd"
                                d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <button type="button"
                        class="text-gray-500 dark:text-gray-400 hover:bg-white dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center mx-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            aria-hidden="true" class="w-5 h-5">
                            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                        </svg>
                    </button> -->
                            <button type="button" class="text-white
                                            bg-cyan-600
                                            hover:bg-cyan-800 
                                            focus:ring-4 
                                            focus:outline-none 
                                            focus:ring-cyan-200 
                                            font-medium rounded-lg 
                                            text-sm
                                            px-2
                                            md:px-5
                                            md:text-lg
                                            py-2
                                            text-center 
                                            mr-2
                                            md:mr-3 
                                            dark:bg-cyan-600 
                                            dark:hover:bg-cyan-700 
                                            dark:focus:ring-cyan-200" onclick="location.href='../calculation'">Cost
                                Optimize</button>
                            {% if admin != 'Null' %}
                            <div class="hidden justify-between items-center md:flex md:mr-10" id="navbar-cta">
                                <div class="dropdown inline-block relative">
                                    <button
                                        class="py-2 px-4 rounded inline-flex items-center hover:bg-white dark:hover:bg-gray-800">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="fill-cyan-600 w-8 h-8"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7.753 18.305c-.261-.586-.789-.991-1.871-1.241-2.293-.529-4.428-.993-3.393-2.945 3.145-5.942.833-9.119-2.489-9.119-3.388 0-5.644 3.299-2.489 9.119 1.066 1.964-1.148 2.427-3.393 2.945-1.084.25-1.608.658-1.867 1.246-1.405-1.723-2.251-3.919-2.251-6.31 0-5.514 4.486-10 10-10s10 4.486 10 10c0 2.389-.845 4.583-2.247 6.305z" />
                                        </svg>
                                        <p class="text-cyan-500 ml-1 flex font-bold text-center text-xl">
                                            {{userdetails.first_name}} {{userdetails.last_name}}
                                            <svg class="svg-icon ml-[-5px] w-8 h-8 fill-cyan-500"
                                                viewBox="0 0 1706 1024" version="1.1"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M782.02272703 706.46395178L457.91614086 317.53604822h648.21317271z" />
                                            </svg>
                                        </p>
                                    </button>
                                    <ul class="dropdown-menu mr-20
                                            absolute hidden border dark:border-gray-700
                                            text-cyan-700 dark:text-gray-400 
                                            w-auto bg-gray-100 shadow-md dark:bg-gray-900 
                                            rounded-lg">
                                        <li class=""><a class="font-bold py-3 pl-6 pr-10 block whitespace-no-wrap
                                                        hover:bg-gray-500 hover:text-white
                                                        dark:hover:bg-cyan-700 
                                                        dark:hover:text-white 
                                                        hover:rounded-t-lg whitespace-nowrap"
                                                href="../changepass/">Change
                                                Password</a>
                                        </li>
                                        <li class=""><a class="font-bold py-3 pl-6 pr-10 
                                                        block whitespace-no-wrap
                                                        hover:bg-gray-500 hover:text-white
                                                        dark:hover:bg-cyan-700 
                                                        dark:hover:text-white" href="../editprofile/">Edit Profile</a>
                                        </li>
                                        <li class=""><a class="font-bold py-3 pl-6 pr-10 
                                                        block whitespace-no-wrap
                                                        hover:bg-gray-500 hover:text-white
                                                        dark:hover:bg-cyan-700 
                                                        dark:hover:text-white" href="../users/">Users (Admin)</a>


                                        <li class=""><a class="font-bold py-3 pl-6 pr-10 
                                                        block whitespace-no-wrap
                                                        hover:bg-gray-500 hover:text-white
                                                        dark:hover:bg-cyan-700 
                                                        dark:hover:text-white" href="../vstat/">Visitor Statistics</a>
                                        </li>
                                        <li class=""><a class="font-bold py-3 pl-6 pr-10 
                                                        block whitespace-no-wrap
                                                        hover:bg-gray-500 hover:text-white
                                                        dark:hover:bg-cyan-700 dark:hover:text-white 
                                                        hover:rounded-b-lg" href="{% url 'logout' %}"
                                                onclick="return confirm('Are You Sure!')">Log Out</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% else %}
                            <div class="justify-between items-center flex md:mr-10" id="navbar-cta">
                                <a href="#" data-modal-toggle="loginModal"
                                    class="hover:bg-white hover:dark:bg-black rounded-md p-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="fill-cyan-600 w-8 h-8"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7.753 18.305c-.261-.586-.789-.991-1.871-1.241-2.293-.529-4.428-.993-3.393-2.945 3.145-5.942.833-9.119-2.489-9.119-3.388 0-5.644 3.299-2.489 9.119 1.066 1.964-1.148 2.427-3.393 2.945-1.084.25-1.608.658-1.867 1.246-1.405-1.723-2.251-3.919-2.251-6.31 0-5.514 4.486-10 10-10s10 4.486 10 10c0 2.389-.845 4.583-2.247 6.305z" />
                                    </svg></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if admin != 'Null' %}
                    <div class="hidden mobile-menu">
                        <ul class="">
                            <li><a href="../" class="block text-xl px-2 py-4 
                                            text-gray-700 dark:text-gray-400 
                                            rounded-lg focus:bg-cyan-400 
                                            focus:text-white font-semibold">
                                    Home</a>
                            </li>
                            <li><a href="../manage_ingredients/" class="block text-xl px-2 py-4 
                                                            text-gray-700 dark:text-gray-400 
                                                            rounded-lg focus:bg-cyan-400 
                                                            focus:text-white transition duration-300">
                                    Manage Ingredients</a></li>
                            <li><a href="../manage_feed/" class="block text-xl px-2 py-4 
                                                        text-gray-700 dark:text-gray-400 
                                                        rounded-lg focus:bg-cyan-400 
                                                        focus:text-white transition duration-300">
                                    Manage Feed</a></li>
                            <li><a href="#" class="flex text-xl px-2 py-4 
                                        text-gray-700 dark:text-gray-400 
                                        rounded-lg focus:bg-cyan-400 
                                        focus:text-white transition duration-300" role="button" onclick="usermenu()">
                                    {{userdetails.first_name}} {{userdetails.last_name}}
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right"
                                        class="w-2 mt-1 ml-2" role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 192 512">
                                        <path fill="currentColor"
                                            d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z">
                                        </path>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="hidden user-menu" id="user-menu">
                        <ul class="w-52 ml-36 bg-white dark:bg-black rounded-xl float-left">
                            <li><a href="../changepass/" class="block text-xl px-5 py-2 
                        text-gray-700 dark:text-gray-400 
                        rounded-lg focus:bg-cyan-400 
                        focus:text-white transition duration-300">
                                    Change Password</a>
                            </li>
                            <li><a href="../editprofile/" class="block text-xl px-5 py-2 
                        text-gray-700 dark:text-gray-400 
                        rounded-lg focus:bg-cyan-400 
                        focus:text-white transition duration-300">
                                    Edit Profile</a>
                            </li>
                            <li><a href="../users/" class="block text-xl px-5 py-2 
                        text-gray-700 dark:text-gray-400 
                        rounded-lg focus:bg-cyan-400 
                        focus:text-white transition duration-300">
                                    Users (Admin)</a>
                            </li>
                            <li><a href="../vstat/" class="block text-xl px-5 py-2 
                        text-gray-700 dark:text-gray-400 
                        rounded-lg focus:bg-cyan-400 
                        focus:text-white transition duration-300">
                                    Visitor Statistics</a>
                            </li>
                            <li><a href="{% url 'logout' %}" class="block text-xl px-5 py-2
                            text-gray-700 dark:text-gray-400 
                                        rounded-lg focus:bg-cyan-400 
                                        focus:text-white transition duration-300"
                                    onclick="return confirm('Are You Sure!')">
                                    Log Out</a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </nav>
            </header>


            <div id="loginModal" tabindex="-1" aria-hidden="true"
                class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
                <div class="relative p-4 w-full max-w-xl h-full md:h-auto">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Modal header -->
                        <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                            <h3 class="text-2xl font-semibold text-gray-900 dark:text-white pl-3">
                                LRS-AAU
                            </h3>
                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200
                                                hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto 
                                                inline-flex items-center dark:hover:bg-gray-600 
                                                dark:hover:text-white" data-modal-toggle="loginModal">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Close</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-6 sm:p-8">
                            <h1 class="text-2xl mt-[-10px] md:mt-[-20px] font-bold leading-tight 
                        tracking-tight text-gray-900 md:text-3xl dark:text-white mb-5" id="headlogin">
                                Sign in to your account
                            </h1>
                            <hr class="mb-4 mt-[-10px] border-cyan-500">
                            <div class="space-y-4">
                                <!-- Login -->
                                <div class="space-y-4" id="modalbodylogin">
                                    <form action="{% url 'login' %}" method="post">
                                        {% csrf_token %}
                                        <div>
                                            <label for="uname"
                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                                Email or Mobile Number</label>
                                            <input type="text" name="uname" id="logininput" class="bg-gray-50 border border-gray-300 
                                    text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 
                                    focus:border-cyan-600 block w-full p-2.5 
                                    dark:bg-gray-700 dark:border-gray-600 
                                    dark:placeholder-gray-400 dark:text-white 
                                    dark:focus:ring-cyan-500 dark:focus:border-cyan-500 mb-4"
                                                placeholder="Email or Mobile Number"
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$|[789][0-9]{9}"
                                                required>
                                        </div>
                                        <div>
                                            <label for="password"
                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                                            <input type="password" name="password" id="logininput"
                                                placeholder="••••••••" class="bg-gray-50 border border-gray-300 
                                    text-gray-900 sm:text-sm rounded-lg 
                                    focus:ring-cyan-600 focus:border-cyan-600 
                                    block w-full p-2.5 dark:bg-gray-700 
                                    dark:border-gray-600 dark:placeholder-gray-400 
                                    dark:text-white dark:focus:ring-cyan-500 
                                    dark:focus:border-cyan-500 mb-4" required>
                                        </div>
                                        <div class="flex items-center justify-end">
                                            <div class="flex items-end">
                                                <a href="#" class="text-sm font-medium text-cyan-600 
                                        hover:underline dark:text-cyan-500 mb-4" role="button"
                                                    onclick="forgotpass()">Forgot
                                                    password?</a>
                                            </div>
                                        </div>
                                        <button type="submit" class="w-full text-white bg-cyan-600 
                                hover:bg-cyan-700 focus:ring-4 focus:outline-none 
                                focus:ring-cyan-300 font-medium rounded-lg text-sm 
                                px-5 py-2.5 text-center dark:bg-cyan-600 dark:hover:bg-cyan-700 
                                dark:focus:ring-cyan-800 mb-4">Sign In</button>
                                    </form>
                                </div>
                                <!-- forgot password -->
                                <div class="hidden space-y-4" id="modalbodyforgot">
                                    <form action="{% url 'forgotpass' %}" method="post">
                                        {% csrf_token %}
                                        <div>
                                            <label for="uemail"
                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter
                                                Your
                                                Email</label>
                                            <input type="text" name="uemail" id="email" class="bg-gray-50 border border-gray-300 
                                    text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 
                                    focus:border-cyan-600 block w-full p-2.5 
                                    dark:bg-gray-700 dark:border-gray-600 
                                    dark:placeholder-gray-400 dark:text-white 
                                    dark:focus:ring-cyan-500 dark:focus:border-cyan-500 mb-4"
                                                placeholder="Enter Your Email"
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                                        </div>
                                        <div class="flex items-center justify-end">
                                            <div class="flex items-end">
                                                <a href="#" class="text-sm font-medium text-cyan-600 
                                        hover:underline dark:text-cyan-500 mb-4" role="button" onclick="login()">Login
                                                    Here</a>
                                            </div>
                                        </div>
                                        <button type="submit" class="w-full text-white bg-cyan-600 
                                hover:bg-cyan-700 focus:ring-4 focus:outline-none 
                                focus:ring-cyan-300 font-medium rounded-lg text-sm 
                                px-5 py-2.5 text-center dark:bg-cyan-600 dark:hover:bg-cyan-700 
                                dark:focus:ring-cyan-800 mb-4">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='min-h-screen pt-16 bg-gray-50 dark:bg-gray-800 dark:text-gray-50'>
                <div class='max-w-screen-2xl m-auto p-8'>