{% include "header.html" %}


<div class="mt-3 z-0">
    <div>
        <button type="button" class=" text-white 
                                bg-cyan-600 
                                hover:bg-cyan-800 
                                focus:ring-4
                                focus:outline-none
                                focus:ring-cyan-200 
                                font-semibold 
                                rounded-lg
                                text-sm
                                px-5
                                md:text-lg 
                                py-3
                                my-5
                                text-center
                                dark:bg-cyan-600 
                                dark:hover:bg-cyan-700 
                                dark:focus:ring-cyan-200" id="add_ing">ADD INGREDIENT</button>
    </div>


    <div id="add_ing_form" class="px-3 py-3 md:w-1/2">
        <form action="../add_ingredient/" method="post">
        {% csrf_token %}
            <fieldset class="border pb-5 pl-10 pr-10 pt-5 rounded-2xl shadow-xl">
                <legend class="text-2xl px-4 font-bold text-gray-600 dark:text-white">ADD INGREDIENT</legend>
            <div class="relative z-0 mb-6 w-full group">
                <input type="text" name="i_name" class="block py-2.5 
                    px-0 w-full  text-sm 
                    text-gray-900 bg-transparent 
                    border-0 border-b-2 border-gray-300 
                    appearance-none dark:text-white
                    dark:border-gray-600 
                    dark:focus:border-cyan-500 
                    focus:outline-none focus:ring-0 
                    focus:border-cyan-600 peer" value="" placeholder=" " required>
                <label for="i_name" class="peer-focus:font-medium 
                    absolute text-md 
                    text-gray-500 
                    dark:text-gray-400 
                    duration-300 transform 
                    -translate-y-6 scale-75 
                    top-3 -z-10 origin-[0] 
                    peer-focus:left-0 
                    peer-focus:text-cyan-600 
                    peer-focus:dark:text-cyan-500 
                    peer-placeholder-shown:scale-100 
                    peer-placeholder-shown:translate-y-0 
                    peer-focus:scale-75 peer-focus:-translate-y-6">INGREDIENT NAME</label>
            </div>

            <div class="relative z-0 mb-6 w-full group">
                <input type="number" name="i_protein" class="block py-2.5 
                    px-0 w-full  text-sm 
                    text-gray-900 bg-transparent 
                    border-0 border-b-2 border-gray-300 
                    appearance-none dark:text-white
                    dark:border-gray-600 
                    dark:focus:border-cyan-500 
                    focus:outline-none focus:ring-0 
                    focus:border-cyan-600 peer numbers" value="" placeholder=" " required>
                <label for="i_protein" class="peer-focus:font-medium 
                    absolute text-md 
                    text-gray-500 
                    dark:text-gray-400 
                    duration-300 transform 
                    -translate-y-6 scale-75 
                    top-3 -z-10 origin-[0] 
                    peer-focus:left-0 
                    peer-focus:text-cyan-600 
                    peer-focus:dark:text-cyan-500 
                    peer-placeholder-shown:scale-100 
                    peer-placeholder-shown:translate-y-0 
                    peer-focus:scale-75 peer-focus:-translate-y-6">PROTEIN(%)</label>
            </div>

            <div class="relative z-0 mb-6 w-full group">
                <input type="number" name="i_energy" class="block py-2.5 
                    px-0 w-full  text-sm 
                    text-gray-900 bg-transparent 
                    border-0 border-b-2 border-gray-300 
                    appearance-none dark:text-white
                    dark:border-gray-600 
                    dark:focus:border-cyan-500 
                    focus:outline-none focus:ring-0 
                    focus:border-cyan-600 peer numbers" value="" placeholder=" " required>
                <label for="i_energy" class="peer-focus:font-medium 
                    absolute text-md 
                    text-gray-500 
                    dark:text-gray-400 
                    duration-300 transform 
                    -translate-y-6 scale-75 
                    top-3 -z-10 origin-[0] 
                    peer-focus:left-0 
                    peer-focus:text-cyan-600 
                    peer-focus:dark:text-cyan-500 
                    peer-placeholder-shown:scale-100 
                    peer-placeholder-shown:translate-y-0 
                    peer-focus:scale-75 peer-focus:-translate-y-6">ENERGY(Kcal)</label>
            </div>

            <div class="relative z-0 mb-6 w-full group">
                <input type="number" name="i_lysine" class="block py-2.5 
                    px-0 w-full  text-sm 
                    text-gray-900 bg-transparent 
                    border-0 border-b-2 border-gray-300 
                    appearance-none dark:text-white
                    dark:border-gray-600 
                    dark:focus:border-cyan-500 
                    focus:outline-none focus:ring-0 
                    focus:border-cyan-600 peer numbers" value="" placeholder=" " required>
                <label for="i_lysine" class="peer-focus:font-medium 
                    absolute text-md 
                    text-gray-500 
                    dark:text-gray-400 
                    duration-300 transform 
                    -translate-y-6 scale-75 
                    top-3 -z-10 origin-[0] 
                    peer-focus:left-0 
                    peer-focus:text-cyan-600 
                    peer-focus:dark:text-cyan-500 
                    peer-placeholder-shown:scale-100 
                    peer-placeholder-shown:translate-y-0 
                    peer-focus:scale-75 peer-focus:-translate-y-6">LYSINE(%)</label>
            </div>

            <div class="relative z-0 mb-6 w-full group">
                <input type="number" name="i_methionine" class="block py-2.5 
                    px-0 w-full  text-sm 
                    text-gray-900 bg-transparent 
                    border-0 border-b-2 border-gray-300 
                    appearance-none dark:text-white
                    dark:border-gray-600 
                    dark:focus:border-cyan-500 
                    focus:outline-none focus:ring-0 
                    focus:border-cyan-600 peer numbers" value="" placeholder=" " required>
                <label for="i_methionine" class="peer-focus:font-medium 
                    absolute text-md 
                    text-gray-500 
                    dark:text-gray-400 
                    duration-300 transform 
                    -translate-y-6 scale-75 
                    top-3 -z-10 origin-[0] 
                    peer-focus:left-0 
                    peer-focus:text-cyan-600 
                    peer-focus:dark:text-cyan-500 
                    peer-placeholder-shown:scale-100 
                    peer-placeholder-shown:translate-y-0 
                    peer-focus:scale-75 peer-focus:-translate-y-6">METHIONINE(%)</label>
            </div>

            <div class="relative z-0 mb-6 w-full group">
                <input type="number" name="i_e_extract" class="block py-2.5 
                    px-0 w-full  text-sm 
                    text-gray-900 bg-transparent 
                    border-0 border-b-2 border-gray-300 
                    appearance-none dark:text-white
                    dark:border-gray-600 
                    dark:focus:border-cyan-500 
                    focus:outline-none focus:ring-0 
                    focus:border-cyan-600 peer numbers" value="" placeholder=" " required>
                <label for="i_e_extract" class="peer-focus:font-medium 
                    absolute text-md 
                    text-gray-500 
                    dark:text-gray-400 
                    duration-300 transform 
                    -translate-y-6 scale-75 
                    top-3 -z-10 origin-[0] 
                    peer-focus:left-0 
                    peer-focus:text-cyan-600 
                    peer-focus:dark:text-cyan-500 
                    peer-placeholder-shown:scale-100 
                    peer-placeholder-shown:translate-y-0 
                    peer-focus:scale-75 peer-focus:-translate-y-6">E. EXTRACT(%)</label>
            </div>

            <div class="relative z-0 mb-6 w-full group">
                <input type="number" name="i_c_fiber" class="block py-2.5 
                    px-0 w-full  text-sm 
                    text-gray-900 bg-transparent 
                    border-0 border-b-2 border-gray-300 
                    appearance-none dark:text-white
                    dark:border-gray-600 
                    dark:focus:border-cyan-500 
                    focus:outline-none focus:ring-0 
                    focus:border-cyan-600 peer numbers" value="" placeholder=" " required>
                <label for="i_c_fiber" class="peer-focus:font-medium 
                    absolute text-md 
                    text-gray-500 
                    dark:text-gray-400 
                    duration-300 transform 
                    -translate-y-6 scale-75 
                    top-3 -z-10 origin-[0] 
                    peer-focus:left-0 
                    peer-focus:text-cyan-600 
                    peer-focus:dark:text-cyan-500 
                    peer-placeholder-shown:scale-100 
                    peer-placeholder-shown:translate-y-0 
                    peer-focus:scale-75 peer-focus:-translate-y-6">C. FIBER(%)</label>
            </div>

            <div class="relative z-0 mb-6 w-full group">
                <input type="number" name="i_calcium" class="block py-2.5 
                    px-0 w-full  text-sm 
                    text-gray-900 bg-transparent 
                    border-0 border-b-2 border-gray-300 
                    appearance-none dark:text-white
                    dark:border-gray-600 
                    dark:focus:border-cyan-500 
                    focus:outline-none focus:ring-0 
                    focus:border-cyan-600 peer numbers" value="" placeholder=" " required>
                <label for="i_calcium" class="peer-focus:font-medium 
                    absolute text-md 
                    text-gray-500 
                    dark:text-gray-400 
                    duration-300 transform 
                    -translate-y-6 scale-75 
                    top-3 -z-10 origin-[0] 
                    peer-focus:left-0 
                    peer-focus:text-cyan-600 
                    peer-focus:dark:text-cyan-500 
                    peer-placeholder-shown:scale-100 
                    peer-placeholder-shown:translate-y-0 
                    peer-focus:scale-75 peer-focus:-translate-y-6">CALCIUM(%)</label>
            </div>

            <div class="relative z-0 mb-6 w-full group">
                <input type="number" name="i_phosphorus" class="block py-2.5 
                    px-0 w-full  text-sm 
                    text-gray-900 bg-transparent 
                    border-0 border-b-2 border-gray-300 
                    appearance-none dark:text-white
                    dark:border-gray-600 
                    dark:focus:border-cyan-500 
                    focus:outline-none focus:ring-0 
                    focus:border-cyan-600 peer numbers" value="" placeholder=" " required>
                <label for="i_phosphorus" class="peer-focus:font-medium 
                    absolute text-md 
                    text-gray-500 
                    dark:text-gray-400 
                    duration-300 transform 
                    -translate-y-6 scale-75 
                    top-3 -z-10 origin-[0] 
                    peer-focus:left-0 
                    peer-focus:text-cyan-600 
                    peer-focus:dark:text-cyan-500 
                    peer-placeholder-shown:scale-100 
                    peer-placeholder-shown:translate-y-0 
                    peer-focus:scale-75 peer-focus:-translate-y-6">PHOSPHORUS(%)</label>
            </div>

            <div class="relative z-0 mb-6 w-full group">
                <input type="number" name="i_a_phosphorus" class="block py-2.5 
                    px-0 w-full  text-sm 
                    text-gray-900 bg-transparent 
                    border-0 border-b-2 border-gray-300 
                    appearance-none dark:text-white
                    dark:border-gray-600 
                    dark:focus:border-cyan-500 
                    focus:outline-none focus:ring-0 
                    focus:border-cyan-600 peer numbers" value="" placeholder=" " required>
                <label for="i_a_phosphorus" class="peer-focus:font-medium 
                    absolute text-md 
                    text-gray-500 
                    dark:text-gray-400 
                    duration-300 transform 
                    -translate-y-6 scale-75 
                    top-3 -z-10 origin-[0] 
                    peer-focus:left-0 
                    peer-focus:text-cyan-600 
                    peer-focus:dark:text-cyan-500 
                    peer-placeholder-shown:scale-100 
                    peer-placeholder-shown:translate-y-0 
                    peer-focus:scale-75 peer-focus:-translate-y-6">A. PHOSPHORUS(%)</label>
            </div>

            <div class="relative z-0 mb-6 w-full group">
                <input type="number" name="i_salt" class="block py-2.5 
                    px-0 w-full  text-sm 
                    text-gray-900 bg-transparent 
                    border-0 border-b-2 border-gray-300 
                    appearance-none dark:text-white
                    dark:border-gray-600 
                    dark:focus:border-cyan-500 
                    focus:outline-none focus:ring-0 
                    focus:border-cyan-600 peer numbers" value="" placeholder=" " required>
                <label for="i_salt" class="peer-focus:font-medium 
                    absolute text-md 
                    text-gray-500 
                    dark:text-gray-400 
                    duration-300 transform 
                    -translate-y-6 scale-75 
                    top-3 -z-10 origin-[0] 
                    peer-focus:left-0 
                    peer-focus:text-cyan-600 
                    peer-focus:dark:text-cyan-500 
                    peer-placeholder-shown:scale-100 
                    peer-placeholder-shown:translate-y-0 
                    peer-focus:scale-75 peer-focus:-translate-y-6">SALT(%)</label>
            </div>

            <div class="relative z-0 mb-6 w-full group">
                <input type="number" name="i_rate" class="block py-2.5 
                    px-0 w-full  text-sm 
                    text-gray-900 bg-transparent 
                    border-0 border-b-2 border-gray-300 
                    appearance-none dark:text-white
                    dark:border-gray-600 
                    dark:focus:border-cyan-500 
                    focus:outline-none focus:ring-0 
                    focus:border-cyan-600 peer numbers" value="" placeholder=" " required>
                <label for="i_rate" class="peer-focus:font-medium 
                    absolute text-md 
                    text-gray-500 
                    dark:text-gray-400 
                    duration-300 transform 
                    -translate-y-6 scale-75 
                    top-3 -z-10 origin-[0] 
                    peer-focus:left-0 
                    peer-focus:text-cyan-600 
                    peer-focus:dark:text-cyan-500 
                    peer-placeholder-shown:scale-100 
                    peer-placeholder-shown:translate-y-0 
                    peer-focus:scale-75 peer-focus:-translate-y-6">RATE OF INGREDIENT(Rs/Kg)</label>
            </div>

            <div class="text-right">
                <button type="submit" class="text-white 
                                            bg-cyan-600 hover:bg-cyan-800 
                                            focus:ring-4 focus:outline-none 
                                            focus:ring-cyan-200 font-medium 
                                            rounded-lg text-sm w-full  sm:w-auto 
                                            px-5 py-2.5 text-center dark:bg-cyan-600 
                                            dark:hover:bg-cyan-700 
                                            dark:focus:ring-cyan-200">ADD INGREDIENT</button>
                <button type="button" class="text-white 
                                            bg-red-600 hover:bg-red-800 
                                            focus:ring-4 focus:outline-none 
                                            focus:ring-red-200 font-medium 
                                            rounded-lg text-sm w-full  sm:w-auto 
                                            px-5 py-2.5 text-center dark:bg-red-600 
                                            dark:hover:bg-red-700 
                                            dark:focus:ring-red-200" id="cls_ing">CANCEL</button>
            </div>
            </fieldset>
        </form>
    </div>



    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-3">
                        INGREDIENTS
                    </th>
                    <th scope="col" class="py-3 px-3">
                        PROTEIN(%)
                    </th>
                    <th scope="col" class="py-3 px-3">
                        ENERGY(Kcal)
                    </th>
                    <th scope="col" class="py-3 px-3">
                        LYSINE(%)
                    </th>
                    <th scope="col" class="py-3 px-3">
                        METHIONINE(%)
                    </th>
                    <th scope="col" class="py-3 px-3">
                        E.EXTRACT(%)
                    </th>
                    <th scope="col" class="py-3 px-3">
                        C.FIBER(%)
                    </th>
                    <th scope="col" class="py-3 px-3">
                        CALCIUM(%)
                    </th>
                    <th scope="col" class="py-3 px-3">
                        PHOSPHORUS(%)
                    </th>
                    <th scope="col" class="py-3 px-3">
                        A.PHOSPHORUS(%)
                    </th>
                    <th scope="col" class="py-3 px-3">
                        PHY.PHOSPHORUS(%)
                    </th>
                    <th scope="col" class="py-3 px-3">
                        SALT(%)
                    </th>
                    <th scope="col" class="py-3 px-3">
                        RATE (Rs/Kg)
                    </th>
                    <th scope="col" class="py-3 px-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for i in ingredient_data %}
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 hover:bg-gray-50 
							dark:hover:bg-gray-800">
                    <th scope="row" class="py-4 px-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{i.name}}
                    </th>
                    <td class="py-4 px-3">
                        {{i.protein}}
                    </td>
                    <td class="py-4 px-3">
                        {{i.energy}}
                    </td>
                    <td class="py-4 px-3">
                        {{i.lysine}}
                    </td>
                    <td class="py-4 px-3">
                        {{i.methionine}}
                    </td>
                    <td class="py-4 px-3">
                        {{i.e_extract}}
                    </td>
                    <td class="py-4 px-3">
                        {{i.c_fiber}}
                    </td>
                    <td class="py-4 px-3">
                        {{i.calcium}}
                    </td>
                    <td class="py-4 px-3">
                        {{i.phosphorus}}
                    </td>
                    <td class="py-4 px-3">
                        {{i.a_phosphorus}}
                    </td>
                    <td class="py-4 px-3">
                        {{i.pythic_phosphorus}}
                    </td>
                    <td class="py-4 px-3">
                        {{i.salt}}
                    </td>
                    <td class="py-4 px-3">
                        {{i.rate}}
                    </td>
                    <td class="py-4 px-3">
                        <button type="button" data-modal-toggle="defaultModal{{forloop.counter}}"
                            class="text-cyan-500 hover:cursor-pointer font-bold hover:text-black dark:hover:text-white hover:underline inline-block mr-4">Edit</button>
                        <form action="{% url 'i_delete' i.name %}" method="post"> {% csrf_token %}<button type="submit"
                                class="text-red-500 font-bold hover:text-black dark:hover:text-white hover:underline inline-block"
                                onclick='return confirm("Are You Sure! You want to delete it ???")'>Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for f in ingredient_data %}
        <div id="defaultModal{{forloop.counter}}" tabindex="-1" aria-hidden="true"
            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
            <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                        <h3 class="text-2xl font-semibold text-gray-900 dark:text-white pl-3">
                            Edit Feed
                        </h3>
                        <button type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-toggle="defaultModal{{forloop.counter}}">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span class="sr-only">Close</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6 h-[400px] overflow-y-scroll">
                        <form action="../editingredient/" method="post">
                            {% csrf_token %}
                            <input type="text" value="{{f.id}}" name="i_id" hidden>
                            <div class="relative z-0 mb-6 w-full group">
                                <input type="text" name="i_name" class="block py-2.5 
                                px-0 w-full  text-sm 
                                text-gray-900 bg-transparent 
                                border-0 border-b-2 border-gray-300 
                                appearance-none dark:text-white
                                dark:border-gray-600 
                                dark:focus:border-cyan-500 
                                focus:outline-none focus:ring-0 
                                focus:border-cyan-600 peer" value="{{f.name}}" placeholder=" " required>
                                <label for="i_name" class="peer-focus:font-medium 
                                absolute text-md 
                                text-gray-500 
                                dark:text-gray-400 
                                duration-300 transform 
                                -translate-y-6 scale-75 
                                top-3 -z-10 origin-[0] 
                                peer-focus:left-0 
                                peer-focus:text-cyan-600 
                                peer-focus:dark:text-cyan-500 
                                peer-placeholder-shown:scale-100 
                                peer-placeholder-shown:translate-y-0 
                                peer-focus:scale-75 peer-focus:-translate-y-6">FEED NAME</label>
                            </div>

                            <div class="relative z-0 mb-6 w-full group">
                                <input type="number" name="i_protein" class="block py-2.5 
                                px-0 w-full  text-sm 
                                text-gray-900 bg-transparent 
                                border-0 border-b-2 border-gray-300 
                                appearance-none dark:text-white
                                dark:border-gray-600 
                                dark:focus:border-cyan-500 
                                focus:outline-none focus:ring-0 
                                focus:border-cyan-600 peer numbers" value="{{f.protein}}" placeholder=" " required>
                                <label for="i_protein" class="peer-focus:font-medium 
                                absolute text-md 
                                text-gray-500 
                                dark:text-gray-400 
                                duration-300 transform 
                                -translate-y-6 scale-75 
                                top-3 -z-10 origin-[0] 
                                peer-focus:left-0 
                                peer-focus:text-cyan-600 
                                peer-focus:dark:text-cyan-500 
                                peer-placeholder-shown:scale-100 
                                peer-placeholder-shown:translate-y-0 
                                peer-focus:scale-75 peer-focus:-translate-y-6">PROTEIN(%)</label>
                            </div>

                            <div class="relative z-0 mb-6 w-full group">
                                <input type="number" name="i_energy" class="block py-2.5 
                                px-0 w-full  text-sm 
                                text-gray-900 bg-transparent 
                                border-0 border-b-2 border-gray-300 
                                appearance-none dark:text-white
                                dark:border-gray-600 
                                dark:focus:border-cyan-500 
                                focus:outline-none focus:ring-0 
                                focus:border-cyan-600 peer numbers" value="{{f.energy}}" placeholder=" " required>
                                <label for="i_energy" class="peer-focus:font-medium 
                                absolute text-md 
                                text-gray-500 
                                dark:text-gray-400 
                                duration-300 transform 
                                -translate-y-6 scale-75 
                                top-3 -z-10 origin-[0] 
                                peer-focus:left-0 
                                peer-focus:text-cyan-600 
                                peer-focus:dark:text-cyan-500 
                                peer-placeholder-shown:scale-100 
                                peer-placeholder-shown:translate-y-0 
                                peer-focus:scale-75 peer-focus:-translate-y-6">ENERGY(Kcal)</label>
                            </div>

                            <div class="relative z-0 mb-6 w-full group">
                                <input type="number" name="i_lysine" class="block py-2.5 
                                px-0 w-full  text-sm 
                                text-gray-900 bg-transparent 
                                border-0 border-b-2 border-gray-300 
                                appearance-none dark:text-white
                                dark:border-gray-600 
                                dark:focus:border-cyan-500 
                                focus:outline-none focus:ring-0 
                                focus:border-cyan-600 peer numbers" value="{{f.lysine}}" placeholder=" " required>
                                <label for="i_lysine" class="peer-focus:font-medium 
                                absolute text-md 
                                text-gray-500 
                                dark:text-gray-400 
                                duration-300 transform 
                                -translate-y-6 scale-75 
                                top-3 -z-10 origin-[0] 
                                peer-focus:left-0 
                                peer-focus:text-cyan-600 
                                peer-focus:dark:text-cyan-500 
                                peer-placeholder-shown:scale-100 
                                peer-placeholder-shown:translate-y-0 
                                peer-focus:scale-75 peer-focus:-translate-y-6">LYSINE(%)</label>
                            </div>

                            <div class="relative z-0 mb-6 w-full group">
                                <input type="number" name="i_methionine" class="block py-2.5 
                                px-0 w-full  text-sm 
                                text-gray-900 bg-transparent 
                                border-0 border-b-2 border-gray-300 
                                appearance-none dark:text-white
                                dark:border-gray-600 
                                dark:focus:border-cyan-500 
                                focus:outline-none focus:ring-0 
                                focus:border-cyan-600 peer numbers" value="{{f.methionine}}" placeholder=" " required>
                                <label for="i_methionine" class="peer-focus:font-medium 
                                absolute text-md 
                                text-gray-500 
                                dark:text-gray-400 
                                duration-300 transform 
                                -translate-y-6 scale-75 
                                top-3 -z-10 origin-[0] 
                                peer-focus:left-0 
                                peer-focus:text-cyan-600 
                                peer-focus:dark:text-cyan-500 
                                peer-placeholder-shown:scale-100 
                                peer-placeholder-shown:translate-y-0 
                                peer-focus:scale-75 peer-focus:-translate-y-6"> METHIONINE(%)</label>
                            </div>

                            <div class="relative z-0 mb-6 w-full group">
                                <input type="number" name="i_e_extract" class="block py-2.5 
                                px-0 w-full  text-sm 
                                text-gray-900 bg-transparent 
                                border-0 border-b-2 border-gray-300 
                                appearance-none dark:text-white
                                dark:border-gray-600 
                                dark:focus:border-cyan-500 
                                focus:outline-none focus:ring-0 
                                focus:border-cyan-600 peer numbers" value="{{f.e_extract}}" placeholder=" " required>
                                <label for="i_e_extract" class="peer-focus:font-medium 
                                absolute text-md 
                                text-gray-500 
                                dark:text-gray-400 
                                duration-300 transform 
                                -translate-y-6 scale-75 
                                top-3 -z-10 origin-[0] 
                                peer-focus:left-0 
                                peer-focus:text-cyan-600 
                                peer-focus:dark:text-cyan-500 
                                peer-placeholder-shown:scale-100 
                                peer-placeholder-shown:translate-y-0 
                                peer-focus:scale-75 peer-focus:-translate-y-6">E. EXTRACT(%)</label>
                            </div>

                            <div class="relative z-0 mb-6 w-full group">
                                <input type="number" name="i_c_fiber" class="block py-2.5 
                                px-0 w-full  text-sm 
                                text-gray-900 bg-transparent 
                                border-0 border-b-2 border-gray-300 
                                appearance-none dark:text-white
                                dark:border-gray-600 
                                dark:focus:border-cyan-500 
                                focus:outline-none focus:ring-0 
                                focus:border-cyan-600 peer numbers" value="{{f.c_fiber}}" placeholder=" " required>
                                <label for="i_c_fiber" class="peer-focus:font-medium 
                                absolute text-md 
                                text-gray-500 
                                dark:text-gray-400 
                                duration-300 transform 
                                -translate-y-6 scale-75 
                                top-3 -z-10 origin-[0] 
                                peer-focus:left-0 
                                peer-focus:text-cyan-600 
                                peer-focus:dark:text-cyan-500 
                                peer-placeholder-shown:scale-100 
                                peer-placeholder-shown:translate-y-0 
                                peer-focus:scale-75 peer-focus:-translate-y-6">C. FIBER(%)</label>
                            </div>

                            <div class="relative z-0 mb-6 w-full group">
                                <input type="number" name="i_calcium" class="block py-2.5 
                                px-0 w-full  text-sm 
                                text-gray-900 bg-transparent 
                                border-0 border-b-2 border-gray-300 
                                appearance-none dark:text-white
                                dark:border-gray-600 
                                dark:focus:border-cyan-500 
                                focus:outline-none focus:ring-0 
                                focus:border-cyan-600 peer numbers" value="{{f.calcium}}" placeholder=" " required>
                                <label for="i_calcium" class="peer-focus:font-medium 
                                absolute text-md 
                                text-gray-500 
                                dark:text-gray-400 
                                duration-300 transform 
                                -translate-y-6 scale-75 
                                top-3 -z-10 origin-[0] 
                                peer-focus:left-0 
                                peer-focus:text-cyan-600 
                                peer-focus:dark:text-cyan-500 
                                peer-placeholder-shown:scale-100 
                                peer-placeholder-shown:translate-y-0 
                                peer-focus:scale-75 peer-focus:-translate-y-6">CALCIUM(%)</label>
                            </div>

                            <div class="relative z-0 mb-6 w-full group">
                                <input type="number" name="i_phosphorus" class="block py-2.5 
                                px-0 w-full  text-sm 
                                text-gray-900 bg-transparent 
                                border-0 border-b-2 border-gray-300 
                                appearance-none dark:text-white
                                dark:border-gray-600 
                                dark:focus:border-cyan-500 
                                focus:outline-none focus:ring-0 
                                focus:border-cyan-600 peer numbers" value="{{f.phosphorus}}" placeholder=" " required>
                                <label for="i_phosphorus" class="peer-focus:font-medium 
                                absolute text-md 
                                text-gray-500 
                                dark:text-gray-400 
                                duration-300 transform 
                                -translate-y-6 scale-75 
                                top-3 -z-10 origin-[0] 
                                peer-focus:left-0 
                                peer-focus:text-cyan-600 
                                peer-focus:dark:text-cyan-500 
                                peer-placeholder-shown:scale-100 
                                peer-placeholder-shown:translate-y-0 
                                peer-focus:scale-75 peer-focus:-translate-y-6">PHOSPHORUS(%)</label>
                            </div>

                            <div class="relative z-0 mb-6 w-full group">
                                <input type="number" name="i_a_phosphorus" class="block py-2.5 
                                px-0 w-full  text-sm 
                                text-gray-900 bg-transparent 
                                border-0 border-b-2 border-gray-300 
                                appearance-none dark:text-white
                                dark:border-gray-600 
                                dark:focus:border-cyan-500 
                                focus:outline-none focus:ring-0 
                                focus:border-cyan-600 peer numbers" value="{{f.a_phosphorus}}" placeholder=" " required>
                                <label for="i_a_phosphorus" class="peer-focus:font-medium 
                                absolute text-md 
                                text-gray-500 
                                dark:text-gray-400 
                                duration-300 transform 
                                -translate-y-6 scale-75 
                                top-3 -z-10 origin-[0] 
                                peer-focus:left-0 
                                peer-focus:text-cyan-600 
                                peer-focus:dark:text-cyan-500 
                                peer-placeholder-shown:scale-100 
                                peer-placeholder-shown:translate-y-0 
                                peer-focus:scale-75 peer-focus:-translate-y-6">A. PHOSPHORUS(%)</label>
                            </div>

                            <div class="relative z-0 mb-6 w-full group">
                                <input type="number" name="i_salt" class="block py-2.5 
                                px-0 w-full  text-sm 
                                text-gray-900 bg-transparent 
                                border-0 border-b-2 border-gray-300 
                                appearance-none dark:text-white
                                dark:border-gray-600 
                                dark:focus:border-cyan-500 
                                focus:outline-none focus:ring-0 
                                focus:border-cyan-600 peer numbers" value="{{f.salt}}" placeholder=" " required>
                                <label for="i_salt" class="peer-focus:font-medium 
                                absolute text-md 
                                text-gray-500 
                                dark:text-gray-400 
                                duration-300 transform 
                                -translate-y-6 scale-75 
                                top-3 -z-10 origin-[0] 
                                peer-focus:left-0 
                                peer-focus:text-cyan-600 
                                peer-focus:dark:text-cyan-500 
                                peer-placeholder-shown:scale-100 
                                peer-placeholder-shown:translate-y-0 
                                peer-focus:scale-75 peer-focus:-translate-y-6">SALT(%)</label>
                            </div>

                            <div class="relative z-0 mb-6 w-full group">
                                <input type="number" name="i_rate" class="block py-2.5 
                                px-0 w-full  text-sm 
                                text-gray-900 bg-transparent 
                                border-0 border-b-2 border-gray-300 
                                appearance-none dark:text-white
                                dark:border-gray-600 
                                dark:focus:border-cyan-500 
                                focus:outline-none focus:ring-0 
                                focus:border-cyan-600 peer numbers" value="{{f.rate}}" placeholder=" " required>
                                <label for="i_rate" class="peer-focus:font-medium 
                                absolute text-md 
                                text-gray-500 
                                dark:text-gray-400 
                                duration-300 transform 
                                -translate-y-6 scale-75 
                                top-3 -z-10 origin-[0] 
                                peer-focus:left-0 
                                peer-focus:text-cyan-600 
                                peer-focus:dark:text-cyan-500 
                                peer-placeholder-shown:scale-100 
                                peer-placeholder-shown:translate-y-0 
                                peer-focus:scale-75 peer-focus:-translate-y-6">RATE (Rs/Kg)</label>
                            </div>
                    </div>
                    <!-- Modal footer -->
                    <div
                        class="flex items-center pl-6 py-3 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                        <div class="text-right w-full pr-6">
                            <button type="submit"
                                class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:outline-none focus:ring-cyan-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-cyan-500 dark:hover:bg-cyan-600 dark:focus:ring-cyan-700">
                                Save
                            </button>
                            </form>
                            <button data-modal-toggle="defaultModal{{forloop.counter}}" type="button"
                                class="mx-2 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-cyan-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% include "footer.html" %}